@font-face {
  font-family: "W-Regular";
  src:
    url("/fonts/RFDewiExpanded-Regular.woff2") format("woff2"),
    url("/fonts/RFDewiExpanded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "W-Bold";
  src:
    url("/fonts/RFDewiExpanded-Bold.woff2") format("woff2"),
    url("/fonts/RFDewiExpanded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "W-BoldItalic";
  src:
    url("/fonts/RFDewiExpanded-BoldItalic.woff2") format("woff2"),
    url("/fonts/RFDewiExpanded-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "W-BlackItalic";
  src:
    url("/fonts/RFDewiExpanded-BlackItalic.woff2") format("woff2"),
    url("/fonts/RFDewiExpanded-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "W-mianfeiziti";
  src:
    url("/fonts/mianfeiziti.woff2") format("woff2"),
    url("/fonts/mianfeiziti.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
