html,
body {
  font-family: "Inter", sans-serif;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #333 0%, #333 100%);
  border-radius: 4px;
  border: 1px solid #332502;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #333 0%, #333 100%);
}

::-webkit-scrollbar-corner {
  background: #1a1a1a;
}

.group[data-focus="true"] input {
  border-color: #FEB80B !important;
}

:is(.group)[data-focus="true"] * {
  border-color: #FEB80B !important;
}